<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd"
        >
    <import resource="spring-cache.xml"/>
    <context:annotation-config/>
    <aop:aspectj-autoproxy/>
    <!-- 自动扫描bean，把作了注解的类转换为bean -->
    <context:component-scan base-package="com.gistandard.transport.*">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <mvc:annotation-driven validator="validator" conversion-service="conversionService"/>
    <mvc:resources mapping="/images/**" location="/images/"/>
    <mvc:resources mapping="/css/**" location="/css/"/>
    <mvc:resources mapping="/script/**" location="/script/"/>
    <mvc:resources mapping="/valuePlusUpload/**" location="/valuePlusUpload/"/>


   <!-- 系统拦截器定义-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--需要被拦截的路径-->
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/script/**"/>
            <mvc:exclude-mapping path="/images/**"/>
            <mvc:exclude-mapping path="/css/**"/>
            <mvc:exclude-mapping path="/valuePlusUpload/**"/>
            <!--拦截处理的interceptor-->
            <bean id="tokenInterceptor" class="com.gistandard.transport.system.common.interceptor.TokenInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>