@charset "utf-8";

/**
 *  newzong
 *  
 */

/* 加载项目通用布局common.css */

/**
	less效果函数
	NewZong 2016/07/15
**/

.cf {
  overflow: hidden;
}

/** 高度计算 **/

/** 宽度计算 **/

/*
定义圆角
@radius 圆角大小
*/

/*
盒子阴影
@right_left 右边阴影为正数 左边负数
@bottom_top 下边阴影为正数 上边负数
@box  阴影大小
@box_color 阴影颜色
*/

/*
文字阴影,可以指定多组阴影
@right_left1 右边阴影为正数 左边负数
@bottom_top1 下边阴影为正数 上边负数
@text  阴影大小
@text_color 阴影颜色
*/

/*
透明度 或渐变 1为不透明 0透明
css3 rgba(110, 142, 185, .4)!important;前三个是颜色值 后一个是透明值
用来兼容所有浏览器
*/

/*
列布局
@c1 列数
@c2 列宽
@c3 列间距
@c4 边框样式
*/

/*背景渐变
@start  渐变开始颜色
@end  结束颜色
*/

/*
画轮廓 就是内部框
@outline 样式
@outline1 间距 负数在内部
*/

/*
旋转角度
@ro定义度数 
IE不支持 滤镜支持0，1，2，3
*/

/*
菱形旋转角度
@x横向缩放比例
@y纵向缩放比例
*/

/* 全局字体大小 */

/* 全局边框颜色 */

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* 全局样式开始*/

body {
  font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  background-color: #F8F8FA;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

[data-dpr="1"] body {
  font-size: 15px;
}

[data-dpr="2"] body {
  font-size: 30px;
}

[data-dpr="3"] body {
  font-size: 45px;
}

.cf {
  overflow: hidden;
}

.cf::after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.wrapper {
  height: auto;
  width: 100%;
}

.wrapper .top {
  width: 100%;
  height: 1.666667rem;
  background-color: #151c52;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.wrapper .top .tp-goback {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 1.296296rem;
  height: 1.296296rem;
  line-height: 1.296296rem;
  margin-left: 0.37037rem;
  margin-top: 0.185185rem;
  background: url(/images/mobileApply/images/icon-goback.png) no-repeat center;
  background-size: 0.444444rem;
  background-position: center;
}

.wrapper .top .tp-title {
  color: #F8F8FA;
  font-size: 0.555556rem;
  display: inline-block;
  height: 0.925926rem;
  line-height: 0.925926rem;
  margin-top: 0.37037rem;
}

.wrapper .content {
  margin-top: 20%;
}

.wrapper .content .con-tips {
  text-align: center;
  font-size: 0.555556rem;
  color: #666666;
  height: 0.740741rem;
  line-height: 0.740741rem;
}