<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
        >
    <dubbo:reference id="accountService" protocol="dubbo" check="false" timeout="10000" retries="0"
                     interface="com.valueplus.psc.dubbo.service.login.AccountService"/>

    <dubbo:reference id="pscRecordService" protocol="dubbo" check="false" timeout="10000" retries="0"
                     interface="com.valueplus.psc.dubbo.service.record.PscRecordService"/>
    <dubbo:reference id="companyStaffRelativeService" protocol="dubbo" check="false" timeout="10000" retries="0"
                     interface="com.valueplus.psc.dubbo.service.authorize.CompanyStaffRelativeService"/>

    <dubbo:reference id="ocrService" protocol="dubbo" check="false" timeout="10000" retries="0"
                     interface="com.valueplus.psc.dubbo.service.ocr.OcrService"/>

    <dubbo:reference id="accountBusinessService" protocol="dubbo" check="false" timeout="10000" retries="0"
                     interface="com.valueplus.psc.dubbo.service.accountBusiness.AccountBusinessService"/>
    <dubbo:reference id="couponDubboService" protocol="dubbo" check="false" timeout="10000" retries="0"
                     interface="com.gistandard.dubbo.CouponDubboService"/>
</beans>